body {
    background-color: red;
    width: 95%;
}
#body {
    height:800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#homePage {
   height:800px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
#topNav {
   display: flex;
    justify-content: space-between;
    border: solid;
    background-color: #ed6f84;
    height: 75px;
    align-items: center;
    margin: 10px 0 ;
}
#soundButton {
   margin: 10px;
}
#homeDisplay {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;
   border: solid;
   background-color: #ed6f84;
}
#homeButtons {
   display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: #ed6f84;
    border: solid;
}


#gamePage {
   height:800px;
   display: flex;
   flex-direction: column;
    justify-content: space-between;
}
#gameTopNav {
    display: flex;
    justify-content: space-between;
    border: solid;
    background-color: #ed6f84;
    height: 75px;
    align-items: center;
 }
  #bank {
    margin: 5px;
 }
 #quit {
    margin: 5px;
    border-radius: 20px;
    height: 100px;
    width: 100px;
 }
 #continue {
   margin: 5px;
   border-radius: 20px;
   height: 100px;
   width: 100px;
}

 #gameDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: solid;
    background-color: #ed6f84;
 }
 #gameQuestionDisplay {
   display: flex;
   flex-direction: column;
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid;
 }
 #gameButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    background-color: #ed6f84;
    border: solid;
 }
 #gameButtons button {
    height: 50px;
    border: solid;
    border-radius: 20px;
 }

 #instructionsPage {
   height:800px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 #instructionsDisplay {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;
   border: solid;
   background-color: #ed6f84;
 }
 #backButton {
   display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: #ed6f84;
    border: solid;
 }
 #loadingPage {
   height:800px;
   display: flex;
   border: solid;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #ed6f84;
 }
 #choosingCategoryPage {
   height:800px;
   display: flex;
   border: solid;
   justify-content: space-evenly;
   align-items: center;
   background-color: #ed6f84;
 }
 #choosingCategoryPage button {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 100px;
   width: 100px;
   border: solid;
 }
 #next{
   display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 #nextButton {
   display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: solid;
    margin: 20px;
 }
 #correctAnsPage {
   height:800px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 #correctDisplay{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;
   border: solid;
   background-color: #ed6f84;
 }
 #correctButtons{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 180px;
   background-color: #ed6f84;
   border: solid;
 }

#losingPage{
   height:800px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
#losingDisplay {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;
   border: solid;
   background-color: #ed6f84;
}
#losingPageButtons {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 180px;
   background-color: #ed6f84;
   border: solid;
}

 .choose {
    background-color: rgb(100, 102, 100);
  }
  .correct {
   background-color: Green;
  }
  .wrong {
   background-color: red;
  }
